.searchtable thead tr td {
    border: .01em solid black;
    font-weight: bold;
    padding: 0.3em;
}

.searchtable tbody tr td {
    border: .01em solid black;

    padding: 0.3em;
}

.navsearch {
    padding: 0.9em;



}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Google Sans', sans-serif;
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
    padding: 20px;
    padding-bottom: 50px;
}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}

/* Set black background color, white text and some padding */
.footer {
    background-color: #555;
    color: white;
    text-align: center;
    height: 50px;
    margin-top: -50px;
    padding: 15px;
    margin-bottom: auto;
	position: relative;
	bottom: 0;
	width: 100%;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }

    .row.content {
        height: auto;
    }

    .bookshome {
        width: auto;

    }
}

.signup {
    text-align: center;
}

.signupbutton {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #555;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    box-shadow: 0 9px #999;
}

.signupbutton:hover {
    background-color: #085391
}

.signupbutton:active {
    background-color: #042a49;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.signupcontainer {
    margin-top: 10PX;
    position: relative;
    text-align: center;
    color: white;
}

.signupcentered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    width: 1.5em;
}

#sresults {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#sresults td,
#sresults thead {
    border: 1px solid #ddd;
    padding: 8px;
}

#sresults tr:nth-child(even) {
    background-color: #f2f2f2;
}

#sresults tr:hover {
    background-color: #ddd;
}

#sresults thead {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #555;
    color: white;
}

.content {
    min-height: 100%;
}

.bookshome {
    width: 100%;
    max-width: 700px;
    height: auto;
}
